@page "/about"
@layout FullPage

<div class="about-page">
    <div class="container text-white">

        <div class="p-5">
            <h1 class="display-4 d-block text-gold">About</h1>
            <hr class="border-white" />
            <p>Questo progetto è nato con lo scopo di mostrare foto antiche di Villaverla (VI).</p>
            <p>Sono state raccolte foto da diverse fonti e diversi anni.</p>
            <p>[Da completare]</p>
        </div>

        <div class="p-5">
            <h1 class="display-4 d-block text-gold">Team</h1>
            <hr class="border-white" />
            <p>Ideatore e sviluppatore: Mirko Pani</p>
            <p>Hanno collaborato alla creazione e alla ricerca: Noemi Boscato, Federica Maddalena</p>
            <p>Ringraziamenti speciali: Davide Rodeghiero</p>
        </div>

        <div class="p-5">
            <h1 class="d-block text-gold">Per informazioni e contatti:</h1>
            <hr class="border-white" />
            <p>Riempire</p>
        </div>

        <div class="p-5">
            <h1 class="text-gold">Risorse</h1>
            <hr class="border-white" />
            <p>Github: </p>
            <p>Riempire</p>
        </div>

    </div>
</div>

    @code {

    }

<style>
    .about-page {
        background-color: #212121;
    }
</style>