<div @attributes=AllOtherAttributes>
	<div id="lineCont">
		<div id="line">
			@for (var i = 0; i < Dates.Count; i++)
			{
				//https://stackoverflow.com/questions/62830840/blazor-razor-onclick-event-with-index-parameter
				int buffer = i;
				<div class="@((i == SelectedDateIndex? "circle active" : "circle"))" style="@DatesStylePosition[i]" @onclick="(async () => await OnDateClick(buffer))">
					<div class="date">@Dates[i]</div>
				</div>
			}

		</div>
		<div id="span">Date Placeholder</div>
	</div>
</div>



@code {

    /*
	* Proprietà
	*/

    [Parameter]
    public List<string> Dates { get; set; }

    [CascadingParameter]
    public int SelectedDateIndex { get; set; }

    [Parameter] public EventCallback<int> OnSelectedDateIndexChanged { get; set; }

    public List<string> DatesStylePosition { get; set; }

    [Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object> AllOtherAttributes { get; set; }

    /*
	* Metodi
	*/
    protected override void OnParametersSet()
    {
        if (Dates == null || Dates.Count == 0)
        {
            DatesStylePosition = new List<string>();
            return;
        }

        DatesStylePosition = new List<string>(Dates.Count);

        int basePercentage = 100 / (Dates.Count - 1);

        for(var i = 0; i< Dates.Count;i++)
        {
            DatesStylePosition.Add(string.Format("left: {0}%;", basePercentage * i));
        }

    }


    async Task OnDateClick(int index)
    {
        // Do this instead:
        await OnSelectedDateIndexChanged.InvokeAsync(index);
    }
}

<style>
	* {
		box-sizing: border-box;
	}

	#lineCont {
		width: 100%;
		height: 20%;
	}

	#line {
		height: 6px;
		width: 70%;
		background: white;
		border-radius: 5px;
		margin: auto;
		top: 50%;
		transform: translateY(-50%);
		position: relative;
	}

	#span {
		display: none;
		width: 70%;
		margin: auto;
		margin-top: 25%;
		text-align: center;
		color: #b38c52;
	}

	.circle {
		width: 20px;
		height: 20px;
		background: #b38c52;
		border-radius: 15px;
		position: absolute;
		top: -7px;
		border: 3px solid white;
		cursor: pointer;
	}

	.circle.active {
		background: #ffffff;
	}

	.date {
		width: auto;
		height: auto;
		white-space: nowrap;
		color: #b38c52;
		position: absolute;
		top: 20px;
		left: -12px;
		display: block;
		transition: all 0.1s ease-out;
	}
</style>