@layout FullPage
@page "/"


<div class="container-fluid">
    <div class="row mb-3">
        <TimeLine Dates=@Dates></TimeLine>
    </div>

    <div class="row">

       
    </div>

</div>
    


@code {
    private List<string> Dates = new List<string>() { "1944", "1957","1980", "2000" };
}