@layout FullPage
@page "/"
@inject IJSRuntime JS;

<div class="container-fluid">
    <div class="row mb-3">
        <TimeLine Dates=@Dates></TimeLine>
    </div>

    <div class="row mt-5">
        <div id="scene-container">
            <img id="scene" src="./img/1944.PNG" />
        </div>


    </div>

</div>



@code {
    private List<string> Dates = new List<string>() { "1944", "1957", "1980", "2000" };

    IJSObjectReference module;

    protected override async void OnInitialized()
    {
        module = await JS
            .InvokeAsync<IJSObjectReference>("import", "./js/test.js");

        await module.InvokeVoidAsync("Call");

    }


}

<style>


    #scene-container {
        display: block;
        overflow: hidden;
    }

</style>